.draw-canvas {
  border: 1px solid gray;
  margin: 1px;
  width: calc(100vw - 8px);
  height: 60vh;
  border-radius: 15px;
  contain: layout style paint;
  position: relative;
  display: block;
}

.upupu {
  width: 128px;
  height: 10px;
  background-size: 100% 2200%;
  background-image: '../../assets/upupu.png';
}