.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  background: linear-gradient(180deg, var(--nut-white) 10%, var(--nut-background) 100%);
  font-weight: bold;
}

.nav-title {
  font-size: var(--nut-font-size-2);
  margin-right: 40px;
  font-weight: normal;
}

.fixed-tabbar {
  position: fixed !important;
  bottom: 0;
  left: 0;
  right: 0;
}

.container {
  width: 100%;
  height: 500rpx;
  padding: 20rpx;
  box-sizing: border-box;
}

.link {
  color: var(--nut-primary);
  text-decoration: underline;
  // border-bottom: 2px solid var(--nut-nut-dark-background4);
  padding-bottom: 5px;
}

.nut-form-item__label {
  margin: auto 0;
}