.draw-canvas {
  position: relative;
  border: 1px solid #bdc3c7;
  margin: 3px 2px 0 3px;
  width: calc(100vw - 8px);
  height: 60vh;
  border-radius: 5px;
  contain: layout style paint;
  display: block;
}

.color-tag {
  width: 1rem;
  height: 1rem;
}

.upupu {
  width: 24px;
  height: 56px;
}

.find-btn {
  width: calc(50% - 10px);
  margin: 0 5px;
}