.list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 30px);
  margin: 0 15px 15px 15px;
  height: 150px;
  background-color: #ebebeb;
  border-radius: 10px;
}

.activity-row {
  width: calc(100% - 20px);
  height: 200px;
  padding: 10px 10px 0 10px;
}