:root,
page {
  --nut-white: #fdfdfd;
  --nut-black: #2b2b2b;
  --nut-help-color: #f5f5f5;
  --nut-button-border-radius: 15px;

  background: #ecf0f1;

  --nut-dark-background: #2e2e2e;
  --nut-dark-background2: #353535;
  --nut-dark-background3: #343434;
  --nut-dark-background4: #4b4b4b;
  --nut-dark-background5: #5a5a5a;
  --nut-dark-background6: #6b6b6b;
  --nut-dark-background7: #7a7a7a;
}

.nut-theme-dark {
  color: var(--nut-white);
  background: var(--nut-dark-background4);
}